* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #1f1f1f;
}

h2 {
  color: rgb(255, 255, 255);
}

h3 {
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20%;
  width: 100%;
  height: 100vh;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cep-form {
  margin: 10px 0;
}

button {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(37, 37, 255);
  color: #f1f1f1;
}

input {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  background-color: #e0e0e0;
}

span {
  color: rgb(199, 199, 199);
  height: 20px;
}

.cep-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 30px;
  }
}
